body {
  background: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
}

#back{
  width: 150px;
  height: 50px;
}

.testPage {
  width: 1920px;
  height: 1080px;
  display: flex;
  border: 1px solid black;
}


.addNew{
  width: 960px;
  height: 50px;
}

.test-box {
  height: 960px;
  border: 1px solid #F1F3F4;
  overflow: hidden;
  margin: 0px;
  position: relative;
}

#move_Btn{
  width: 300px;
  height: 50px;
}

#zoom_In{
  margin-left: 25px;
  width: 300px;
  height: 50px;
  
}

#zoom_Out{
  width: 300px;
  height: 50px;
}

#addNew_Btn{
  width: 960px;
  height: 50px;
}

.test-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500;
}

.answer{
  width: 960px;
  height: 892px;
}

#confidence {
  width: 960px;
  height: 120px;
  visibility: hidden;
}

.submit {
  width: 960px;
  height: 50px;
}

#submit_Btn {
  width: 960px;
  height: 50px;
}

#confidence_Btn {
  margin-left: 430px;
  width: 100px;
  height: 50px;
}

.slider {
  margin-left: 330px;
  width: 300px;
  display: inline-block;
}

#conf_value{
  display: inline-block;
}

#div_ans{
  width: 960px;
  height: 40px;
  margin-top: 10px;
}

#div_text{
  width: 800px;
  height: 40px;
  background-color: white;
  margin-top: 10px;
  display: inline-block;
}

.div_btn{
  width: 60px;
  height: 40px;
  margin-top: 10px;
  float: right;
}
